<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
  <div class="hh">
    
  <button type="button" class="btn btn-light" id="icon"><i class="bi bi-person-fill"></i> </button>
  <button type="button" class="btn btn-light"  id="icon" ><i class="bi bi-chat-square-dots-fill"></i> </button>

</div>
</nav>
<div class="d-flex align-items-start" style="background-color: #f8f8f8 ;width: 18%;height: 720px;position: fixed;top: 25px;left:-1%; ">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <div class="all">
    <br>
    <label class="labels">{{ getIncompletedTasksCount() }} tasks left</label>
    <br>
    
    <button class="nav-link" id="v-pills-All-tab" data-bs-toggle="pill" data-bs-target="#v-pills-All" type="button" role="tab" aria-controls="v-pills-All" aria-selected="true">ALL ({{ tasks.length }})</button>
   <br>
    <button class="nav-link" id="v-pills-Completed-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Completed" type="button" role="tab" aria-controls="v-pills-Completed" aria-selected="false">Completed ({{ getCompletedTasksCount() }})</button>
<br>
    <button class="nav-link" id="v-pills-Incompleted-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Incompleted" type="button" role="tab" aria-controls="v-pills-Incompleted" aria-selected="false">Incompleted ({{ getIncompletedTasksCount() }})</button>
  
</div>
</div>
 </div>
  <div class="tab-content col-sm-8 " id="v-pills-tabContent">
    <div class="tab-pane fade" id="v-pills-All" role="tabpanel" aria-labelledby="v-pills-All-tab" tabindex="0">
      <div class="col-sm-8 ">
        <div class="card" >
          <div class="card-header">
            <form [formGroup]="addtaskForm">
              <div class="form-check">
                
                
                
                  <div class="gg">
                      <input type="text" class="form-control col-sm-4" placeholder="Type here to add new todo" formControlName="name" >
                      
                  </div>
                  <select class="form-select" aria-label="Default select example" placeholder="Type here to add new todo" style="position: relative; bottom: 37px;" formControlName="users" (change)="onUserSelect($event)">
                    <option value="" disabled selected>Choisir un membre du personnel</option>
                    <option *ngFor="let staffMember of staffMail" [value]="staffMember">{{ staffMember }}</option>
                  </select>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-info" type="button" style="position: relative; bottom: 75px;"  (click)="addTask()">Ok</button>
                </div>
              </div>


              


              
            </form> 

            
            
            
          </div>
          
          <div class="card-body">
            <div *ngFor="let task of tasks">
              <input type="checkbox" [checked]="task.completed" disabled>
              
              <!-- Afficher le nom de la tâche avec un champ de texte pour la mise à jour -->
              <div *ngIf="!task.isEditing">
                <p style="margin-left: 20px;" (click)="showInput(task)"> {{ task.name }} </p>
                <p style="margin-left: 20px;" (click)="showInput(task)"> {{task.users}}</p>
                <p style="margin-left: 20px;" >{{ task.date }}</p>
              </div>
              <div *ngIf="task.isEditing">
                <form [formGroup]="updatetaskForm">
                  <!-- Utiliser [(ngModel)] pour lier la valeur de l'input -->
                  
                  <input type="text" placeholder="Update the name" [(ngModel)]="task.updatedName" formControlName="name">
                </form>
               
              </div>
              
              <div class="icon">
                <button type="button" class="btn btn-light" (click)="deleteTask(task.id)"><i class="bi bi-trash"></i></button>
                <button type="button" class="btn btn-light" (click)="task.isEditing ? updateTaskName(task) : showInput(task)">
                  <i *ngIf="task.isEditing" class="bi bi-save"></i>
                  <i *ngIf="!task.isEditing" class="bi bi-pencil-square"></i>
                </button>
              </div>
            </div>
          </div>
      </div>
        </div>
      
    </div>
    
    <div class="tab-pane fade" id="v-pills-Completed" role="tabpanel" aria-labelledby="v-pills-Completed-tab" tabindex="0">
      <div class="col-sm-8 ">
        <div class="card">
          <div class="card-header">
           
              <div class="gg">
                <input type="text" class="form-control col-sm-4" placeholder="Type here to add new todo" formControlName="name">
              </div>
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-info" type="button" style="position: relative; bottom:40px" (ngSubmit)="addTask()">Ok</button>
            </div>
          </div>
          <div class="card-body">
            <div *ngFor="let task of completedTasks">
              <input type="checkbox" [checked]="true" disabled>
              <p style="margin-left: 20px;">{{ task.name }}</p>
              <p style="margin-left: 20px;" (click)="showInput(task)"> {{task.users}}</p>
              <p style="margin-left: 20px;" >{{ task.date }}</p>
              <div class="icon">
                <button type="button" class="btn btn-light" (click)="deleteTask(task.id)"><i class="bi bi-trash"></i></button>
                <button type="button" class="btn btn-light"><i class="bi bi-pencil-square"></i></button>
              </div>
            </div>
           
          </div>
        </div>
        </div>
      
    
    </div>
    <div class="tab-pane fade" id="v-pills-Incompleted" role="tabpanel" aria-labelledby="v-pills-Incompleted-tab" tabindex="0">
      <div class="col-sm-8 ">
        <div class="card">
          <div class="card-header">
            
              <div class="gg">
                <input type="text" class="form-control col-sm-4" placeholder="Type here to add new todo">
              </div>
           
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-info" type="button" style="position: relative; bottom:40px">Ok</button>
            </div>
          </div>
          <div class="card-body">
            <div *ngFor="let task of incompletedTasks">
              <input type="checkbox" [checked]="false" disabled >
              <p style="margin-left: 20px;">{{ task.name }}</p>
              <p style="margin-left: 20px;" (click)="showInput(task)"> {{task.users}}</p>
              <p style="margin-left: 20px;" >{{ task.date }}</p>
              <div class="icon">
                <button type="button" class="btn btn-light" (click)="deleteTask(task.id)"><i class="bi bi-trash"></i></button>
                <button type="button" class="btn btn-light"><i class="bi bi-pencil-square"></i></button>
              </div>
            </div>
          </div>
        </div>
        </div>
      
    
    </div>
    </div>


