
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
span{
    font-size: 26px;
    font-family: initial;
    font-weight: 600;
    color: rgb(5, 55, 112);
    position: relative;
    left: 40%;
    line-height: 2.5;
    letter-spacing: 5.5px;
}
a.btn.btn-outline-primary {
    color: rgb(5, 55, 112);
    background-color: rgb(5 55 112 / 6%);
    border-radius: 15px;
    padding: 11px 32px;
}
.bi-box-arrow-in-down-right::before {
    content: "\f1bb";
    position: absolute;
    right: 18px;
    color: #5e9fff;
    font-size: 20px;
    margin-top: 13px;
}
section article h6{
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-align: center;
}
.text-img {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 200px;
    text-align: justify;
}
article {
    margin-left: 150px;
}
p {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
    margin-left: 78px;
    color: gray;
}
img{
    margin-bottom: 100px;
}
a.btn.btn-outline-primary:hover {
    background-color: rgb(152, 152, 239);
}